<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Guest Index</title>
</head>
<body>
	<div align="center">
		<h1>Guest List</h1>
		<a href="/">Home</a> &nbsp;
		<a href="/new">Add New Guest</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Member Since</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="guest : ${listGuest}">
					<td th:text="${guest.id}">Guest ID</td>
					<td th:text="${guest.firstName}">First Name</td>
					<td th:text="${guest.lastName}">Last Name</td>
					<td th:text="${guest.memberSince}">Member Since</td>
					<td>
						<a th:href="@{'/edit/' + ${guest.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${guest.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>