<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hosted At Index</title>
</head>
<body>
	<div align="center">
		<h1>Host List</h1>
		<a href="/">Home</a> &nbsp;
		<a href="/newHost">Add New Host</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Guest ID</th>
					<th>Occupied Room ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hostedAt :${listHostedAt}">
					<td th:text="${hostedAt.id}">Host ID</td>
					<td th:text="${hostedAt.guestId}">Guest ID</td>
					<td th:text="${hostedAt.occupiedRoomId}">Occupied Room ID</td>
					<td>
						<a th:href="@{'/editHost/' + ${hostedAt.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/deleteHost/' + ${hostedAt.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>