<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Occupied Room Index</title>
</head>
<body>
	<div align="center">
		<h1>Occupied Room List</h1>
		<a href="/">Home</a> &nbsp;
		<a href="/newOccupiedRoom">Add New Occupied Room</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Check In Date</th>
					<th>Check Out Date</th>
					<th>Room ID</th>
					<th>Reservation ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="occupiedRoom :${listOccupiedRoom}">
					<td th:text="${occupiedRoom.id}">ID</td>
					<td th:text="${occupiedRoom.checkIn}">Check In</td>
					<td th:text="${occupiedRoom.checkOut}">Check Out</td>
					<td th:text="${occupiedRoom.roomId}">Room ID</td>
					<td th:text="${occupiedRoom.reservationId}">Reservation ID</td>
					<td>
						<a th:href="@{'/editOccupiedRoom/' + ${occupiedRoom.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/deleteOccupiedRoom/' + ${occupiedRoom.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>