<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reserved Room List</title>
</head>
<body>
	<div align="center">
		<h1>Reserved Room List</h1>
		<a href="/">Home</a>&nbsp;
		<a href="/newReservedRoom">Add New Reserved Room</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Number of Rooms</th>
					<th>Room Type ID</th>
					<th>Reservation ID</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservedroom :${listReservedRoom}">
					<td th:text="${reservedroom.id}">ID</td>
					<td th:text="${reservedroom.numberOfRooms}">Number of Rooms</td>
					<td th:text="${reservedroom.roomTypeId}">Room Type ID</td>
					<td th:text="${reservedroom.reservationId}">Reservation ID</td>
					<td th:text="${reservedroom.status}">Status</td>
					<td>
						<a th:href="@{'/editReservedRoom/' + ${reservedroom.id}}">Edit</a>
						<a th:href="@{'/deleteReservedRoom/' + ${reservedroom.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>