<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reservation List</title>
</head>
<body>
	<div align="center">
		<h1>Reservation List</h1>
		<a href="/">Home</a>&nbsp;
		<a href="/newReservation">Add New Reservation</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date In</th>
					<th>Date Out</th>
					<th>Made By</th>
					<th>Guest ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation :${listReservation}">
					<td th:text="${reservation.id}">ID</td>
					<td th:text="${reservation.dateIn}">Date In</td>
					<td th:text="${reservation.dateOut}">Date Out</td>
					<td th:text="${reservation.madeBy}">Made By</td>
					<td th:text="${reservation.guestId}">Guest ID</td>
					<td>
						<a th:href="@{'/editReservation/' + ${reservation.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/deleteReservation/' + ${reservation.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>