<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Room Type List</title>
</head>
<body>
	<div align="center">
		<h1>Room Type List</h1>
		<a href="/">Home</a>&nbsp;
		<a href="/newRoomType">Add New Room Type</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Description</th>
					<th>Max Capacity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="roomType :${listRoomType}">
					<td th:text="${roomType.id}">ID</td>
					<td th:text="${roomType.description}">Description</td>
					<td th:text="${roomType.maxcapacity}">Max Capacity</td>
					<td>
						<a th:href="@{'/editRoomType/' + ${roomType.id}}">Edit</a>
						<a th:href="@{'/deleteRoomType/' + ${roomType.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>