<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Room List</title>
</head>
<body>
	<div align="center">
		<h1>Room List</h1>
		<a href="/">Home</a>&nbsp;
		<a href="/newRoom">Add New Room</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Number</th>
					<th>Name</th>
					<th>Status</th>
					<th>Smoke</th>
					<th>Room Type ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room :${listRoom}">
					<td th:text="${room.id}">ID</td>
					<td th:text="${room.number}">Number</td>
					<td th:text="${room.name}">Name</td>
					<td th:text="${room.status}">Status</td>
					<td th:text="${room.status}">Smoke</td>
					<td th:text="${room.roomtypeid}">Room Type ID</td>
					<td>
						<a th:href="@{'/editRoom/' + ${room.id}}">Edit</a>
						<a th:href="@{'/deleteRoom/' + ${room.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>